---
---

<div class="grid md:grid-cols-2 gap-8">
  <div class="bg-white p-6 rounded-lg shadow-sm border border-slate-100">
    <div class="flex items-center mb-4">
      <div class="mr-4 text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M20 6L9 17l-5-5"></path>
        </svg>
      </div>
      <div>
        <h3 class="text-xl font-medium">Sean P.</h3>
        <a href="https://twitter.com/io_sean_p" class="text-primary text-sm hover:underline">@io_sean_p</a>
      </div>
    </div>
    <p class="text-slate-600">"In our line of work, information security is paramount. Safemail makes identifying potential threats over email easy and helps us keep focused and safe."</p>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-sm border border-slate-100">
    <div class="flex items-center mb-4">
      <div class="mr-4 text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M20 6L9 17l-5-5"></path>
        </svg>
      </div>
      <div>
        <h3 class="text-xl font-medium">Seyi T.</h3>
        <a href="https://twitter.com/seyitaylor" class="text-primary text-sm hover:underline">@seyitaylor</a>
      </div>
    </div>
    <p class="text-slate-600">"As someone who relies heavily on email for client communications, Safemail gives me a way to quickly identify potential threats without losing focus."</p>
  </div>
</div>