---
---

<div>
  <h3 class="text-center text-lg font-medium text-slate-900 mb-8">Trusted by companies like</h3>
  <div class="flex flex-wrap justify-center items-center gap-8 md:gap-16">
    <a href="https://seshatbank.com" target="_blank" class="grayscale hover:grayscale-0 transition-all duration-300">
      <img src="seshatbank_logo.png" alt="Seshat Bank" class="h-10 md:h-16">
    </a>
    <a href="https://sibylline.xyz" target="_blank" class="grayscale hover:grayscale-0 transition-all duration-300">
      <img src="sibylline-logo.png" alt="Sibylline" class="h-10 md:h-16">
    </a>
    <a href="https://www.riseworks.io" target="_blank" class="grayscale hover:grayscale-0 transition-all duration-300">
      <img src="rise_logo.svg" alt="Rise" class="h-10 md:h-16">
    </a>
    <a href="https://joinharvest.xyz" target="_blank" class="grayscale hover:grayscale-0 transition-all duration-300">
      <img src="harvest_icon@88.png" alt="Harvest" class="h-10 md:h-16">
    </a>
    <a href="https://www.simplicitygroup.xyz" target="_blank" class="grayscale hover:grayscale-0 transition-all duration-300">
      <img src="sg_logo.jpeg" alt="Simplicity Group" class="h-10 md:h-16">
    </a>
  </div>
</div>