---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Modal from '../components/Modal.astro';
---

<Layout title="Safemail">
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQPR83BZ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <main>
        <div class="bg-white pt-12">
            <div class="text-center my-5
			grid justify-items-center 
			flex items-center
			">
                <svg 
                width="368" height="302" viewBox="0 0 368 302" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path 
                        fill-rule="evenodd" 
                        clip-rule="evenodd" 
                        d="M344.525 252.874H233.974L242.921 237.263H344.525C348.825 237.263 352.35 233.777 352.35 229.438V52.3778L185.88 299.842C184.394 301.121 182.556 301.76 180.757 301.76C178.958 301.76 177.12 301.121 175.633 299.842L15.6497 54.7919V229.438C15.6497 233.738 19.136 237.263 23.4745 237.263H118.301L128.982 252.874H23.4745C10.5364 252.874 0 242.338 0 229.4V28.9212C0 28.9209 0 28.9205 0 28.9202V23.4745C0 10.5364 10.5364 0 23.4745 0C23.4745 0 91.0316 42.6105 103.737 42.6105C109.589 42.6105 123.378 33.5724 138.254 23.8213C155.679 12.3998 174.597 0 184 0C192.012 0 204.525 9.00175 218.048 18.7304C233.947 30.1681 251.243 42.6105 264.263 42.6105C288.357 42.6105 344.525 0 344.525 0C357.464 0 368 10.5364 368 23.4745V229.4C368 242.338 357.464 252.874 344.525 252.874ZM15.6497 26.8596V23.5133C15.6497 19.1747 19.1747 15.6884 23.4745 15.6884V15.6497C23.4745 15.6497 79.4105 58.1053 103.737 58.2602C116.938 58.3443 134.314 45.7894 150.232 34.288C163.648 24.5947 176.028 15.6497 184 15.6497C192.194 15.6497 205.523 25.0643 219.65 35.0429C235.578 46.2931 252.52 58.2602 264.263 58.2602C286.42 58.2602 344.525 15.6497 344.525 15.6497C348.864 15.6497 352.35 19.1747 352.35 23.4745V24.8789L180.757 283.095L15.6497 26.8596Z" 
                        fill="url(#paint0_linear_1805_24383)"/>
                    </path>
                    <defs>
                        <linearGradient
                            id="paint0_linear_1805_24383"
                            x1="0%"
                            y1="0%"
                            x2="0%"
                            y2="100%"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop offset="0" stop-opacity="0.85" stop-color="#1BAC9B"></stop>
                            <stop offset="1" stop-opacity="0.32" stop-color="#36F3A4"></stop>
                        </linearGradient>
                    </defs>
                </svg>                
                <h1 class="text-blue-900"> Safemail AI </h1>
                <div class="get-started">
                    <Modal id="dialog" open="Get started">
                        <main slot="main" style="display:flex; flex-wrap:wrap; justify-content: center;">
                            <h2 >Don’t want to deal with suspicious emails?</h2>                            
                            <hr style="border: 0px; display: block; width: 76%; background-color: #BCBCBC; height: 1px;">
							<div style="max-width:76%; display:flex; justify-content: center; flex-wrap:wrap;">
								<p style="text-align:left;" class="p-4">Simply forward the email you are concerned about to our agent email and verify the threat right in your inbox in seconds.
								</p>                            
								<div data-tid="field-input" class="m-2" style="position:relative;">
									<fieldset>
										<div class="row" style="display:flex; align-items:flex-start; flex-direction:column;">
										  <label for="example1-name" class="text-sm font-bold">Agent Email</label>
										  <button class="hover:brightness-95" style="display:flex; align-items:center; width: 270px; background-color: #EFF4F5; color: #2B3B3E; border-radius: 7px; padding: 0px 4px;" id="click-copy" value="agent@inbound.safemail.ai">
											agent@inbound.safemail.ai
											<!-- <input id="example1-name" type="text" value="agent@inbound.safemail.ai" required="" autocomplete="name" disabled 
											style="background-color: #EFF4F5; -->
											<!-- color: #2B3B3E ; -->
											<!-- width: 246px; -->
											<!-- max-width: 100%; -->
											<!-- border-radius: 7px; -->
											<!-- padding: 0px 4px;  -->
											<!-- "> -->
											<svg class="h-6 w-6 px-0.5 pl-2" stroke="currentColor" fill-color="#2B3B3E" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1.5rem" width="1.5rem" xmlns="http://www.w3.org/2000/svg"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>			
										  </button>									
										</div>
									</fieldset>
									<div id="popup" 									
									style="display: none;
									position: absolute;
									font-size: 14px;
									background-color: #333;									
									color: #F9FAFA;
									padding: 2px 8px;
									border-radius: 4px;
									box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
									top: -2px;
									right: 0;
									"
									>
										Copied!
									</div>
								</div>									
							</div>
							<script>
								const clickableDiv = document.getElementById('click-copy');								
								const inputElement = document.getElementById('click-copy');
								const popup = document.getElementById('popup');

								clickableDiv.addEventListener('click', () => {
								const textToCopy = inputElement.value;
								navigator.clipboard.writeText(textToCopy)
								.then(() => {
								// Success callback
								// alert('Text copied to clipboard: ' + textToCopy);
								// })
								const rect = clickableDiv.getBoundingClientRect();
								popup.style.display = 'block';								
								setTimeout(() => {
									popup.style.display = 'none';
								}, 2350); // 2.35 seconds
								})
									.catch((error) => {
									// Error callback
									console.error('Failed to copy text to clipboard:', error);
									});
								});
							</script>
                        </main>
                        <button slot="close" class="mb-4 w-28 h-8 text-red-800 rounded-xl hover:bg-red-100">Close</button>
                    </Modal>
                </div>
                <p class="p-2">No installation needed. Get started free.</p>
            </div>
        </div>
        <div class="container-section">
            <h2 class="text-center text-bold">Stop wasting time and get peace of mind</h2>
            <ul role="list" class="link-card-grid">
                <Card
                        href=""
                        title="Phishing detection"
                        body="Identify if an email coming from a colleague is actually a clever phishing attack"
                />
                <Card
                        href=""
                        title="File Analysis"
                        body="Safemail safely cracks suspicious file attachments and provides analysis"
                />
                <!-- <Card
                    href=""
                    title="Themes"
                    body="Explore a galaxy of community-built starter themes."
                />
                <Card
                    href=""
                    title="IT integration"
                    body="Come say hi to our amazing Discord community. ❤️"
                /> -->
            </ul>
        </div>
        <div class="container-section">
            <h2 class="text-center text-bold">Testimonials</h2>
            <ul role="list" class="link-card-grid">
                <Card
                        href="https://twitter.com/io_sean_p"
                        title="Sean P."
                        body="In our line of work, information security is paramount. Safemail makes identifying potential threats over email easy and helps us keep focused and safe."
                />
                <Card
                        href="https://twitter.com/seyitaylor"
                        title="Seyi T."
                        body="As someone who relies heavily on email for client communications, Safemail gives me a way to quickly identify potential threats without losing focus."
                />
            </ul>
        </div>
        <div class="container-section">
            <h2 class="text-center text-bold">Used by teams at companies like these</h2>
            <div style="max-width:100%; display:flex; flex-wrap:wrap; align-items: center; justify-content:center; gap: 2%; margin: 1.5rem 0rem;">
                <a href="https://seshatbank.com" target="_blank"><img alt="seshat" src="seshatbank_logo.png" height="80px" style="height:70px !important;"></a>
                <a href="https://sibylline.xyz" target="_blank"><img alt="sibylline" src="sibylline-logo.png" height="80"></a>
                <a href="https://www.riseworks.io" target="_blank"><img alt="rise" src="rise_logo.svg" height="80"></a>
                <!-- <img alt="proelium" src="ProeliumLaw-Logo.png" height="80"> -->
                <a href="https://shopthru.xyz" target="_blank"><img alt="shopthru" src="shopthru_logo.svg" height="80px"></a>
                <a href="https://joinharvest.xyz" target="_blank"><img alt="harvest" src="harvest_icon@88.png" height="80"></a>
                <a href="https://www.simplicitygroup.xyz" target="_blank"><img alt="sg" src="sg_logo.jpeg" height="80"></a>
            </div>
        </div>
    </main>
    <div class="">
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table pricing-table-id="prctbl_1NgR7KKI1xxiTbPeZ3IP0Nqr"
                              publishable-key="pk_live_51MqHU4KI1xxiTbPeXZBJ23neWakogIsDq2YD2pfBrENWIilgazn0IrJyNdZzWRuKFXfUGyQZJV4cu1lrAK4mBSMk00VDKMUx62">
        </stripe-pricing-table>
    </div>
    <main>
        <div class="m-2 p-2">
            <h2 class="text-center text-bold">About Us</h2>
            <p>Safemail was created by product executives and cyber security experts coming from leading firms including
                Accenture, Revolut, and PwC.</p>
            <br/>
            <p class="text-center text-sm">&copy Sibylline Advisory Ltd, 2023</p>
        </div>
    </main>
    </body>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: #333333;
        font-size: 20px;
        line-height: 1.6;
    }

    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }

    svg{
        /* position: absolute; */
        /* transform: translatex(-50%); */
        width: 124px;
        height: auto;
        z-index: auto;
    }

    h1 {
        font-family: 'Comfortaa', 'Sans-serif';
        font-size: 4rem !important;
        font-weight: 700 !important;
        line-height: 1;
        text-align: center;
        margin-bottom: 1rem;
    }

    h2 {
        font-family: 'Comfortaa', 'Sans-serif';
        font-size: 1.8rem !important;
        color: #242E3D !important;
        margin: 0.5rem 0rem !important;
		
		white-space: normal;
    }

    p {
        font-family: 'Lato', 'Sans-serif';
        color: #2B3B3E;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }

    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }

    .instructions strong {
        color: rgb(var(--accent-light));
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
        padding: 0;
    }

    img {
        height: 80px !important;
        margin: 9px 3px;
    }

    .get-started {
        display: flex;
        justify-content: center;
        width: 180px;
        height: 50px;
        max-width: 180px;
        border: 1px solid white;
        border-radius: 7px;
        margin: 2rem 0rem .5rem 0rem;
        color: #F9FAFA;
        font-family: 'Lato';
        /* background-color: var(--accent-gradient); */
        background-image: var(--sm-accent-gradient);
        text-shadow: -2px 2px 6px rgba(5, 86, 158, 0.44);
        transition: transform 0.045s ease-in-out;
    }

    .get-started:is(:hover, :focus-within) {
        background-position: 0;
        /* background-image: var(--accent-gradient); */
        box-shadow: -1px -1px 10px rgba(255, 255, 255, 0.2);
        transform: scale(1.07);
		filter: brightness(1.07);
    }

    .container-section {
        margin: 3rem 0rem;
    }

</style>
