---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Modal from '../components/Modal.astro';
---

<Layout title="Safemail">
<body>
	<main>
		<div class="bg-white pt-24">
			<div class="text-center my-5 
			grid justify-items-center 
			flex items-center
			">
				<h1 class="text-blue-900"> Safemail </h1>
				<div class="get-started" >
					<Modal id="dialog" open="Get started" >
					<main slot="main">
					  <p class="text-black">Don’t want to deal with suspicious email?</p>
					  <hr />					  
					  <img width="60" height="80" src="favicon.svg" alt="Astro logo" />
					</main>
					<button slot="close">Close modal</button>
				  </Modal>
				</div>
				<p>Start using Safemail for free, no install needed.</p>
			</div>
		</div>
		<div>
			<h2>Get your time back from hunting down suspicious emails</h2>
			<ul role="list" class="link-card-grid">
				<Card
					href=""
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
				<Card
					href=""
					title="Integrations"
					body="Supercharge your project with new frameworks and libraries."
				/>
				<Card
					href="https://astro.build/themes/"
					title="Themes"
					body="Explore a galaxy of community-built starter themes."
				/>
				<Card
					href="https://astro.build/chat/"
					title="Community"
					body="Come say hi to our amazing Discord community. ❤️"
				/>
			</ul>
		</div>
		<div>
			<h2>Testimonials</h2>
			<ul role="list" class="link-card-grid">
				<Card
					href="https://twitter.com/io_sean_p"
					title="Sean P"
					body="Makes our bank super secure which is dope"
				/>
				<Card
					href="https://twitter.com/seyitaylor"
					title="Seyi T"
					body="It's super based"
				/>
			</ul>
		</div>
		<div>
			<h2>Used by teams at companies like these</h2>
			<div style="max-width:100%; display:flex; flex-wrap:wrap; align-items: center; justify-content:center; gap: 2%;" >
				<img alt="seshat" src="seshatbank_logo.png" height="80px" style="height:70px !important;">
				<img alt="shopthru" src="shopthru_logo.svg" height="80px">
				<img alt="sibylline" src="sibylline-logo.png" height="80">
				<img alt="proelium" src="ProeliumLaw-Logo.png" height="80">
				<img alt="harvest" src="harvest_icon@88.png" height="80">
			</div>
		</div>
		<div>
			<h2>About Us</h2>
			<p>Safemail was created by Product executives and cybersecurity subject matter experts at leading firms including PwC.</p>
		</div>
	</main>
</body>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #333333;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-family: 'Comfortaa','Sans-serif';
		font-size: 4rem !important;
		font-weight: 700 !important;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2{
		font-family: 'Comfortaa','Sans-serif';
		font-size: 1.5rem !important;
		color: #242E3D !important;
	}
	p{
		font-family: 'Lato', 'Sans-serif';
		color: #2B3B3E;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	img {
		height:80px !important;
		margin: 9px 3px;
	}
	.get-started{
		display:flex;
		justify-content: center;
		width: 180px;
		height: 50px;
		max-width: 180px;
		border: 1px solid white;
		border-radius: 7px;
		margin: 2rem 0rem .5rem 0rem;
		color: #F9FAFA;
		font-family: 'Lato';
		/* background-color: var(--accent-gradient); */
		background-image: var(--sm-accent-gradient);
		text-shadow: -2px 2px 6px rgba(5, 86, 158, 0.44) ;
		transition: transform 0.045s ease-in-out;
	}
	.get-started:is(:hover, :focus-within) {
		background-position: 0;
		/* background-image: var(--accent-gradient); */
		box-shadow: -1px -1px 10px rgba(255, 255, 255, 0.2);
		transform: scale(1.125);
	}	

</style>
