---
// This component will use the Stripe pricing table from the original site
---

<div>
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
  <stripe-pricing-table pricing-table-id="prctbl_1NgR7KKI1xxiTbPeZ3IP0Nqr"
                       publishable-key="pk_live_51MqHU4KI1xxiTbPeXZBJ23neWakogIsDq2YD2pfBrENWIilgazn0IrJyNdZzWRuKFXfUGyQZJV4cu1lrAK4mBSMk00VDKMUx62">
  </stripe-pricing-table>
</div>