--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Prevent emails from compromising your security">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<meta name="twitter:card" content="summary_medium_image" />
		<meta name="twitter:site" content="@3266miles" />
		<meta name="twitter:creator" content="@3266miles" />
		<meta property="twitter:image" content="https://safemail.ai/safemail-icon-twtr.png">

		<meta property="og:url" content="https://www.safemail.ai" />
		<meta property="og:title" content="Safemail AI" />
		<meta property="og:description" content="Prevent emails from compromising your security" />
		<meta property="og:image" content="https://safemail.ai/safemail-twtr-large-preview.png" />
		
		
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-060VCP5QKG"
		></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-060VCP5QKG");
		</script>

	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
		
		--sm-accent-blue: 7, 127, 233;
		--sm-accent-marine: 54, 243, 164;
		--sm-accent-gradient: linear-gradient(45deg, rgb(var(--sm-accent-blue)), rgb(var(--sm-accent-marine)) 79%);
		--sm-accent-gradient-fo: linear-gradient(45deg, rgb(var(--sm-accent-blue)), rgb(var(--sm-accent-marine)) 59%, white 79%); 
		/* Falloff gradient above */
	}
	html {
		font-family: 'Lato', 'Comfortaa', system-ui, sans-serif;
		/* background: #13151A; */

		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>